################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HunterExpansion/.vs
/settings（备份）
/预告
/音效
/text（备份）
/landscape - nsh.sai2
/NSH区域地图.png
/title_nsh.sai2
/try-convert.exe - 快捷方式.lnk
/简介.docx
/exceptionLog-与干燥的冲突.txt
/exceptionLog.txt
/房间统计.txt
/scenes（备份）
/text（v1.9.07b）
NSH.jpg
/.vs
/HunterExpansion/bin/Debug/net48
/mod/scenes
/mod/world
/text（备份） - 20250823
